# Ignore node_modules
node_modules/

# Ignore build output
/build

# Ignore environment files
.env

# Ignore media files
/FOUNDER/Project/Media/

# Keep the Media directory structure but ignore its contents
!/FOUNDER/Project/Media/
/FOUNDER/Project/Media/*
!/FOUNDER/Project/Media/.gitkeep